.analytics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .analytics h2 {
    margin-bottom: 20px;
    color: black; /* Assuming a dark background for contrast */
  }
  
  .analytics .main_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }
  
  .analytics .sub_card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid;
    text-align: center;
  }
  
  .analytics .facebook {
    border-color: #3b5998;
  }
  
  .analytics .twitter {
    border-color: #1da1f2;
  }
  
  .analytics .instagram {
    border-color: #e4405f;
  }
  
  .analytics .report-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .analytics .report-header p {
    margin: 0 10px;
  }
  
  .analytics h3, .analytics span, .analytics p {
    margin: 5px 0;
  }
  
  .analytics .report-value {
    color: hsl(146, 68%, 55%);
  }
  
  .analytics .report-value.negative {
    color: rgb(251, 3, 3);
  }
  .report-section {
    margin-bottom: 20px;
    /* Add the properties of .analytics .sub_card */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px;
    width: 100%;
  }
  